<dx-data-grid
  width="100%"
  height="91vh"
  showColumnLines="true"
  showBorders="true"
  (onRowRemoving)="removeCategory($event)"
  (onRowUpdated)="onRowUpdated($event)"
  [showColumnLines]="true"
  [showRowLines]="true"
  [showBorders]="true"
  [rowAlternationEnabled]="true"
  [allowColumnResizing]="true"
  [allowColumnReordering]="true"
  [dataSource]="categories">
  <dxo-editing
    mode="cell"
    [allowUpdating]="true"
    [allowDeleting]="true">
  </dxo-editing>
<!--  <dxo-row-dragging-->
<!--    [onReorder]="onReorder"-->
<!--    [allowReordering]="true"-->
<!--    [showDragIcons]="true"-->
<!--  ></dxo-row-dragging>-->
  <dxo-column-chooser [enabled]="true"></dxo-column-chooser>
  <dxo-state-storing [enabled]="true" type="localStorage" storageKey="storageCat"></dxo-state-storing>
  <dxo-filter-row
    [visible]="true">
  </dxo-filter-row>
  <dxo-header-filter
    [visible]="true">
  </dxo-header-filter>
  <dxo-paging [pageSize]="50"></dxo-paging>
  <dxo-pager
    [showPageSizeSelector]="true"
    [allowedPageSizes]="[10, 25, 50, 100, 250]">
  </dxo-pager>
  <dxo-search-panel
    [visible]="true"
    [highlightCaseSensitive]="true">
  </dxo-search-panel>
  <dxo-group-panel
    [visible]="true">
  </dxo-group-panel>

  <dxi-column dataField="category" [allowEditing]="false" [caption]="formatMessage('Category', null)">
    <dxi-validation-rule type="required"></dxi-validation-rule>
  </dxi-column>
  <dxi-column dataField="subcategory" [caption]="formatMessage('Subcategory', null)">
    <dxi-validation-rule type="required"></dxi-validation-rule>
  </dxi-column>
  <dxi-column dataField="type" [allowEditing]="false"  [caption]="formatMessage('Category type', null)">
    <dxi-validation-rule type="required"></dxi-validation-rule>
    <dxo-lookup
      [dataSource]="categoryTypes"
      valueExpr="id"
      displayExpr="typeName">
    </dxo-lookup>
  </dxi-column>
</dx-data-grid>

<app-add-category-button (refreshGrid)="refreshGrid()"></app-add-category-button>

