<dx-drawer
  opened="true"
  position="before">
  <div class="navigation-bar"
       *dxTemplate="let dataMenu of 'panel'">
    <dx-toolbar class="toolbar-logo" id="navigation-header">
      <dxi-item
        location="before"
        cssClass="menu-button"
        widget="dxButton"
        [options]="{
                    icon: 'menu',
              stylingMode: 'text'
            }">
      </dxi-item>
      <dxi-item
        location="center"
        [text]="'Budżet domowy'">
      </dxi-item>
    </dx-toolbar>
    <div class="menu-container">
      <dx-tree-view
        [items]="items"
        keyExpr="path"
        selectionMode="single"
        [focusStateEnabled]="false"
        (onItemClick)="changeNavigation($event)"
        expandEvent="click"
        width="100%">
      </dx-tree-view>
    </div>
  </div>
  <div class="container">
    <dx-scroll-view class="layout-body">
      <div class="content">
        <ng-content></ng-content>
      </div>
    </dx-scroll-view>
  </div>
</dx-drawer>
