::ng-deep .dx-toolbar .dx-toolbar-item.menu-button>.dx-toolbar-item-content .dx-icon {
  color: #03a9f4;
}


::ng-deep .header-toolbar > .dx-toolbar-items-container {
  background-color: #f2f2f2;
  height: 45px;
}

::ng-deep .header-toolbar > .dx-button {
  background-color: #f2f2f2;
}
