<dx-scroll-view height="100%" class="full-height-scrollable">
  <div class="dx-card content" id="card">
    <dx-validation-group>
      <div class="login-header">
        <div class="title">{{appInfo.title}}</div>
        <div>{{formatMessage('Sign In to your account', null)}}</div>
      </div>
      <div class="dx-field">
        <dx-text-box stylingMode="underlined" [(value)]="login" [placeholder]="formatMessage('Username', null)" width="100%">
          <dx-validator>
            <dxi-validation-rule type="required" [message]="formatMessage('Username is required', null)"></dxi-validation-rule>
          </dx-validator>
        </dx-text-box>
      </div>
      <div class="dx-field">
        <dx-text-box stylingMode="underlined" mode="password" [(value)]="password" [placeholder]="formatMessage('Password', null)" width="100%">
          <dx-validator>
            <dxi-validation-rule type="required" [message]="formatMessage('Password is required', null)"></dxi-validation-rule>
          </dx-validator>
        </dx-text-box>
      </div>
      <div class="dx-field">
        <dx-button type="default" text="Login" (onClick)="onLoginClick($event)" width="100%"></dx-button>
      </div>
<!--      <div class="dx-field">-->
<!--        <a routerLink="/recovery">{{formatMessage('Forgot password?', null)}}</a>-->
<!--      </div>-->
      <div class="dx-field">
        <dx-button type="normal" [text]="formatMessage('Create an account', null)" (onClick)="onCreateAccountClick()" width="100%"></dx-button>
      </div>
    </dx-validation-group>
  </div>

</dx-scroll-view>
<dx-load-panel
  [shading]="false"
  [closeOnOutsideClick]="false"
  [(visible)]="isLoadPanelVisible"
  [position]="{ of: '#card' }">
</dx-load-panel>
