<dx-data-grid
  width="100%"
  height="91vh"
  showColumnLines="true"
  showBorders="true"
  (onToolbarPreparing)="onToolbarPreparing($event)"
  (onRowUpdating)="onRowUpdating($event)"
  (onCellPrepared)="onCellPrepared($event)"
  [allowColumnResizing]="true"
  [allowColumnReordering]="true"
  [showColumnLines]="true"
  [showRowLines]="true"
  [showBorders]="true"
  [rowAlternationEnabled]="true"
  [dataSource]="operations">

  <div *dxTemplate="let data of 'dateBox'">
    <dx-date-box
      id="myDateBox"
      [(value)]="monthYear"
      (onValueChanged)="onValueChanged($event)"
      displayFormat="monthAndYear">
      <dxo-calendar-options maxZoomLevel="year" minZoomLevel="decade" zoomLevel="year"></dxo-calendar-options>
    </dx-date-box>
  </div>

  <dxo-editing mode="cell"
               [allowUpdating]="true">
  </dxo-editing>

  <dxi-column dataField="category" groupCellTemplate="grpCellTemplate" [allowEditing]="false" [calculateGroupValue]="calcGroupValue" [caption]="formatMessage('Category', null)" [groupIndex]="0"></dxi-column>
  <div *dxTemplate="let cellInfo of 'grpCellTemplate'">
    {{ getTitle(cellInfo) }}
  </div>

  <dxi-column dataField="subcategory" [allowEditing]="false" [caption]="formatMessage('Subcategory', null)"></dxi-column>
  <dxi-column dataField="plan" [format]="{type: 'currency', precision: 2}" [caption]="formatMessage('Plan', null)"></dxi-column>
  <dxi-column dataField="real" [allowEditing]="false" [format]="{type: 'currency', precision: 2}"  [caption]="formatMessage('Real', null)"></dxi-column>
  <dxi-column dataField="difference" [allowEditing]="false" [format]="{type: 'currency', precision: 2}"  [caption]="formatMessage('Difference', null)"></dxi-column>
  <dxo-group-panel [visible]="true"></dxo-group-panel>
  <dxo-grouping [autoExpandAll]="true"></dxo-grouping>

  <dxo-summary [calculateCustomSummary]="calculateGridSummaries">
    <dxi-group-item
      column="plan"
      summaryType="sum"
      displayFormat="{0}"
      [valueFormat]="{type: 'currency', precision: 2}"
      [showInGroupFooter]="false"
      [alignByColumn]="true">
    </dxi-group-item>
    <dxi-group-item
      column="real"
      summaryType="sum"
      displayFormat="{0}"
      [valueFormat]="{type: 'currency', precision: 2}"
      [showInGroupFooter]="false"
      [alignByColumn]="true">
    </dxi-group-item>
    <dxi-group-item
      column="difference"
      summaryType="sum"
      displayFormat="{0}"
      [valueFormat]="{type: 'currency', precision: 2}"
      [alignByColumn]="true"
      [showInGroupFooter]="false">
    </dxi-group-item>
    <dxi-total-item
      name="summaryRealIncome"
      summaryType="custom"
      valueFormat="currency"
      [valueFormat]="{type: 'currency', precision: 2}"
      displayFormat="Przychody rzeczywiste: {0}"
      showInColumn="real">
    </dxi-total-item>
    <dxi-total-item
      name="summaryRealExpense"
      summaryType="custom"
      valueFormat="currency"
      [valueFormat]="{type: 'currency', precision: 2}"
      displayFormat="Wydatki rzeczywiste: {0}"
      showInColumn="real">
    </dxi-total-item>
    <dxi-total-item
      name="summaryPlanIncome"
      summaryType="custom"
      valueFormat="currency"
      [valueFormat]="{type: 'currency', precision: 2}"
      displayFormat="Przychody planowane: {0}"
      showInColumn="plan">
    </dxi-total-item>

    <dxi-total-item
      name="summaryPlanExpense"
      summaryType="custom"
      valueFormat="currency"
      [valueFormat]="{type: 'currency', precision: 2}"
      displayFormat="Wydatki planowane: {0}"
      showInColumn="plan">
    </dxi-total-item>
    <dxi-total-item
      name="summaryAccountSum"
      summaryType="custom"
      valueFormat="currency"
      [valueFormat]="{type: 'currency', precision: 2}"
      displayFormat="Łączny stan kont: {0}"
      showInColumn="subcategory">
    </dxi-total-item>
    <dxi-total-item
      name="summaryDiffIncome"
      summaryType="custom"
      valueFormat="currency"
      [valueFormat]="{type: 'currency', precision: 2}"
      displayFormat="Różnica przychody: {0}"
      showInColumn="difference">
    </dxi-total-item>
    <dxi-total-item
      name="summaryDiffExpense"
      summaryType="custom"
      valueFormat="currency"
      [valueFormat]="{type: 'currency', precision: 2}"
      displayFormat="Różnica wydatki: {0}"
      showInColumn="difference">
    </dxi-total-item>



  </dxo-summary>
</dx-data-grid>


<app-add-operation (refreshGrid)="refreshGridData()"></app-add-operation>
