<div style="display: flex; justify-content: flex-end; margin-right: 40px; margin-top: 15px; margin-bottom: 5px">
      <dx-date-box
        [(value)]="monthYear"
        (onValueChanged)="onValueChanged($event)"
        displayFormat="monthAndYear">
          <dxo-calendar-options maxZoomLevel="year" minZoomLevel="decade" zoomLevel="year"></dxo-calendar-options>
      </dx-date-box>
</div>
<dx-data-grid
  width="100%"
  showColumnLines="true"
  showBorders="true"
  [allowColumnResizing]="true"
  [allowColumnReordering]="true"
  [showColumnLines]="true"
  [showRowLines]="true"
  [showBorders]="true"
  [rowAlternationEnabled]="true"
  [dataSource]="operations">
  <dxi-column dataField="category" [caption]="formatMessage('Category', null)" [groupIndex]="0"></dxi-column>
  <dxi-column dataField="subcategory" [caption]="formatMessage('Subcategory', null)"></dxi-column>
  <dxi-column dataField="plan" [format]="{type: 'currency', precision: 2}" [caption]="formatMessage('Plan', null)"></dxi-column>
  <dxi-column dataField="real" [format]="{type: 'currency', precision: 2}"  [caption]="formatMessage('Real', null)"></dxi-column>
  <dxi-column dataField="difference" [format]="{type: 'currency', precision: 2}"  [caption]="formatMessage('Difference', null)"></dxi-column>

  <dxo-group-panel [visible]="true"></dxo-group-panel>
  <dxo-grouping [autoExpandAll]="true"></dxo-grouping>

  <dxo-summary>
    <dxi-group-item
      column="plan"
      summaryType="sum"
      [valueFormat]="{type: 'currency', precision: 2}"
      [showInGroupFooter]="false"
      [alignByColumn]="true">
    </dxi-group-item>
    <dxi-group-item
      column="real"
      summaryType="sum"
      [valueFormat]="{type: 'currency', precision: 2}"
      [showInGroupFooter]="false"
      [alignByColumn]="true">
    </dxi-group-item>
    <dxi-group-item
      column="difference"
      summaryType="sum"
      [valueFormat]="{type: 'currency', precision: 2}"
      [alignByColumn]="true"
      [showInGroupFooter]="false">
    </dxi-group-item>
  </dxo-summary>
</dx-data-grid>

<dx-speed-dial-action
  hint="Edit"
  (onClick)="addOperation()"
  icon="add">
</dx-speed-dial-action>
<app-add-operation (refreshGrid)="refreshGridData()"></app-add-operation>
